<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yy/MM/dd HH:mm:ss} %p %c{1}: %-0.-500m %throwable{3} %n "/>

        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="com.creanga" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.apache.hadoop.fs.s3a" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>
        <logger name="org.apache.spark" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </logger>



    </Loggers>
</Configuration>


